<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
  <resources cache="true">
    <cfg:filters />
    <cfg:groups>
      <cfg:group name="ViewInStagingAndLive.Base" merge="always">
        <cfg:fileset>
          <cfg:file type="script">/Scripts/Constants.js</cfg:file>
          <cfg:file type="script">/Scripts/Utils.js</cfg:file>
        </cfg:fileset>
      </cfg:group>
      <cfg:group name="ViewInStagingAndLive.ThemeFiles" merge="always">
        <cfg:fileset>
          <cfg:file type="style">{ThemePath}carbon2.css</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.Theme</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
      <cfg:group name="ViewInStagingAndLive.Commands" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" merge="always">
        <cfg:fileset>
          <cfg:file type="script">/Scripts/Commands/ViewStaging.js</cfg:file>
          <cfg:file type="script">/Scripts/Commands/ViewLive.js</cfg:file>
          <cfg:file type="reference">ViewInStagingAndLive.Commandset</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>ViewInStagingAndLive.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
    </cfg:groups>
  </resources>
  <definitionfiles />
  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:itemicons />
        <ext:taskbars />
        <ext:commands/>
        <ext:commandextensions />
        <ext:contextmenus>
          <ext:add>
            <ext:extension assignid="ViewStagingCm" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewStaging}" insertbefore="cm_sep_3">
              <ext:menudeclaration>
                <cmenu:ContextMenuItem id="cm_viewstaging" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewStaging}" command="ViewStaging"/>
              </ext:menudeclaration>
              <ext:dependencies>
                <cfg:dependency>ViewInStagingAndLive.ThemeFiles</cfg:dependency>
                <cfg:dependency>ViewInStagingAndLive.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView">
                  <ext:control id="DashboardContextMenu" />
                </ext:view>
              </ext:apply>
            </ext:extension>
            <ext:extension assignid="ViewLiveCm" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewLive}" insertbefore="cm_sep_3">
              <ext:menudeclaration>
                <cmenu:ContextMenuItem id="cm_viewlive" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewLive}" command="ViewLive"/>
              </ext:menudeclaration>
              <ext:dependencies>
                <cfg:dependency>ViewInStagingAndLive.ThemeFiles</cfg:dependency>
                <cfg:dependency>ViewInStagingAndLive.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView">
                  <ext:control id="DashboardContextMenu" />
                </ext:view>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:contextmenus>
        <ext:lists />
        <ext:tabpages />
        <ext:toolbars  />
        <ext:ribbontoolbars>
          <ext:add>
            <ext:extension assignid="ViewItemsGroup" groupid="EditGroup" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, View}" pageid="HomePage" insertbefore="PublishGroup">
              <ext:group>~/Controls/ViewItemsGroup.ascx</ext:group>
              <ext:dependencies>
                <cfg:dependency>ViewInStagingAndLive.ThemeFiles</cfg:dependency>
                <cfg:dependency>ViewInStagingAndLive.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView">
                  <ext:control id="DashboardToolbar" />
                </ext:view>
                <ext:view name="PageView">
                  <ext:control id="ItemToolbar" />
                </ext:view>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:ribbontoolbars>
        <ext:extendedareas />
        <ext:optionspanels />
      </ext:editorextension>
      <ext:editorextension target="SiteEdit">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:itemicons />
        <ext:taskbars />
        <ext:commands/>
        <ext:commandextensions />
        <ext:contextmenus />
        <ext:lists />
        <ext:tabpages />
        <ext:toolbars />
        <ext:ribbontoolbars>
          <ext:add>
            <ext:extension assignid="ViewLiveBtn" name="{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewLive}" pageid="HomePage" groupid="ShowGroup">
              <ext:command>ViewLive</ext:command>
              <ext:title>{Resources: ViewInStagingAndLive.UI.Editor.Strings, ViewLive}</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>ViewInStagingAndLive.ThemeFiles</cfg:dependency>
                <cfg:dependency>ViewInStagingAndLive.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="EditorView" />
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:ribbontoolbars>
        <ext:extendedareas />
        <ext:optionspanels />
      </ext:editorextension>
    </ext:editorextensions>
    <ext:dataextenders/>
    <ext:modelextensions/>
    <ext:resourceextensions/>
  </extensions>
  <commands>
    <cfg:commandset id="ViewInStagingAndLive.Commandset">
      <cfg:command name="ViewStaging" implementation="ViewInStagingAndLive.UI.Editor.Commands.ViewStaging" />
      <cfg:command name="ViewLive" implementation="ViewInStagingAndLive.UI.Editor.Commands.ViewLive" />
    </cfg:commandset>
  </commands>
  <contextmenus />
  <localization>
    <cfg:clientresource servertype="ViewInStagingAndLive.UI.Editor.Resources.ViewInStagingAndLive.UI.Editor.Strings, ViewInStagingAndLive.Editor" clientname="ViewInStagingAndLive.UI.Editor.Strings" />
  </localization>
  <settings>
    <defaultpage/>
    <navigatorurl/>
    <editurls/>
    <listdefinitions />
    <itemicons />
    <theme>
      <path>/Themes/Carbon2/</path>
      <resourcegroup>ViewInStagingAndLive.ThemeFiles</resourcegroup>
    </theme>
    <customconfiguration>
      <clientconfiguration>
        <stagingSiteUrlMetadataFieldName>stagingSiteUrl</stagingSiteUrlMetadataFieldName>
        <liveSiteUrlMetadataFieldName>liveSiteUrl</liveSiteUrlMetadataFieldName>
      </clientconfiguration>
    </customconfiguration>
  </settings>
</Configuration>
