<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
      <add key="EndpointAddress" value="net.tcp://localhost:2660/CoreService/2013/netTcp" />
      <add key="SchemaPublicationUri" value="tcm:0-2-1" />
      <add key="VocabulariesAppId" value="http://www.sdl.com/tridion/SemanticMapping/vocabularies" />
      <add key="TypeOfAppId" value="http://www.sdl.com/tridion/SemanticMapping/typeof" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>