<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Social.Model.Services.GetPageData"
               behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
        <endpoint name="GetPageData" address=""
                  behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig"
                  contract="Social.Model.Services.GetPageData" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
