<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- URL of SDL Tridion Content Manager Explorer -->
    <add key="sdlTridionCmsUrl" value="http://localhost:81" />
    <!-- 2011 core service endpoint address -->
    <!--<add key="endpointAddress" value="net.tcp://localhost:2660/CoreService/2011/netTcp" />-->
    <!-- 2013 core service endpoint address -->
    <!--<add key="endpointAddress" value="net.tcp://localhost:2660/CoreService/2012/netTcp" />-->
    <!-- 2013 SP1 core service endpoint address -->
    <add key="endpointAddress" value="net.tcp://localhost:2660/CoreService/2013/netTcp" />
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
