<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SDLTridion.Examples.ItemSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- URL of SDL Tridion Content Manager Explorer -->
		<add key="sdlTridionCmsUrl" value="http://SDL.TRIDION.CME.URL"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttp_2010" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<!-- readerQuotas maxStringContentLength increased to 10M -->
					<readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="streamDownload_basicHttp_2010" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<!-- readerQuotas maxStringContentLength increased to 10M -->
					<readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="streamUpload_basicHttp_2010" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<!-- readerQuotas maxStringContentLength increased to 10M -->
					<readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="wsHttp_2010" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<!-- readerQuotas maxStringContentLength increased to 10M -->
					<readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<!-- URLs of SDL Tridion Core Service (only change CME url) -->
			<endpoint address="http://SDL.TRIDION.CME.URL/webservices/CoreService.svc/basicHttp_2010" binding="basicHttpBinding" bindingConfiguration="basicHttp_2010" contract="SDLTridionCoreServiceClient.ICoreService2010" name="basicHttp_2010"/>
			<endpoint address="http://SDL.TRIDION.CME.URL/webservices/CoreService.svc/streamDownload_basicHttp_2010" binding="basicHttpBinding" bindingConfiguration="streamDownload_basicHttp_2010" contract="SDLTridionCoreServiceClient.IStreamDownload2010" name="streamDownload_basicHttp_2010"/>
			<endpoint address="http://SDL.TRIDION.CME.URL/webservices/CoreService.svc/streamUpload_basicHttp_2010" binding="basicHttpBinding" bindingConfiguration="streamUpload_basicHttp_2010" contract="SDLTridionCoreServiceClient.IStreamUpload2010" name="streamUpload_basicHttp_2010"/>
			<endpoint address="http://SDL.TRIDION.CME.URL/webservices/CoreService.svc/wsHttp_2010" binding="wsHttpBinding" bindingConfiguration="wsHttp_2010" contract="SDLTridionCoreServiceClient.ISessionAwareCoreService2010" name="wsHttp_2010">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
