<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors/>
    <services>
      <service name="EclImport.Model.Services.ImportService" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
        <endpoint name="ImportService" address=""
                  behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig"
                  contract="EclImport.Model.Services.ImportService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>