/* 
 * context menu item icons for the context menu that appears for translatable icons 
 */

#cm_pq_publish.item .image
{
	background-image: url('{ThemePath}Icons/publish.16px.png');
	background-position: 0;
}

#cm_pq_unpublish.item .image
{
	background-image: url('{ThemePath}Icons/unpublish.16px.png');
	background-position: 0;
}
