<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Metadata XML field name (used for ECL Metadata and Stub Metadata) -->
        <add key="MetadataXmlFieldName" value="Description"/>

        <!-- MountPoint type, as configured in ExternalContentLibrary.xml -->
        <add key="MountpointType" value="FlickrProvider"/>

        <!-- Asynchronous events will create an extra version of the Component, but have less performance impact on save.
             Set to "false" only if custom code executes fast, to reduce performance impact on save. -->
        <add key="Asynchronous" value="true"/>

        <!-- Set to "true" if metadata needs to be updated on every save (if different), 
             "false" will only insert metadata when field is empty. -->
        <add key="Update" value="false"/>
    </appSettings>
</configuration>